{% extends "base.html" %}
{% block content %}
    <div class="container-lg mt-3">
<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 p-5">
    <h1 class="display-3">Анализатор страниц</h1>
    <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form action="{{ url_for('add_url') }}" method="post" class="d-flex justify-content-center">
    <input type="text" name="url" placeholder="https://www.example.com" value="{{ url }}"  class="form-control form-control-lg" required>
    <input type="submit" class="btn btn-info  btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить">
</form>
  </div>
</div>
</div>
{% endblock %}